.grid{
    display: flex;
    border: solid 1px;
}
.container{
    display: flex;
    justify-content: center;
}
.cell{
    border: solid 1px;
    padding: 20px;
}
button{
    font-size: large;
    border: solid 1px;
    margin-bottom: 20px;
    margin-left: 50%;
    padding: 10px;
    border-radius: 25px;
}